[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "vim/bundle/VimClojure"]
	path = vim/bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/sessionman"]
	path = vim/bundle/sessionman
	url = git://github.com/vim-scripts/sessionman.vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
